h2 {
  text-align: center;
  color: crimson;
}

form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

label {
  margin-bottom: auto;
}

input {
  font-size: 70%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 50px;
  margin-left: 10px;
  margin: 10px auto;
  width: 500px;
}

button {
  margin-top: 30px;
  margin: 0 10px;
  margin-bottom: 20px;
}
